#FINGERPRINT
#ET320 etsd policy
#added by xiehaifei 160122

# ==============================================
# Type Declaration
# ==============================================
type etsd, domain;
type etsd_exec, exec_type, file_type;

# etsd
init_daemon_domain(etsd)
binder_use(etsd)
binder_call(etsd, system_server);
binder_call(etsd, fingerprintd);

allow etsd etsd_data_file:chr_file { getattr read write ioctl open };

# need to find KeyStore and add self
allow etsd etsd_service:service_manager { add find };

# allow HAL module to read dir contents
allow etsd fingerprintd_data_file:file { create_file_perms };

# allow HAL module to read/write/unlink contents of this dir
allow etsd fingerprintd_data_file:dir rw_dir_perms;

type_transition etsd system_data_file:{ dir file } etsd_data_file;
allow etsd etsd_data_file:dir create_dir_perms;
allow etsd etsd_data_file:dir relabelfrom;
allow etsd etsd_data_file:file create_file_perms;
allow etsd etsd_data_file:file relabelfrom;

# Need to add auth tokens to KeyStore
use_keystore(etsd)
allow etsd keystore:keystore_key { add_auth };

# For permissions checking
binder_call(etsd, system_server);
allow etsd permission_service:service_manager find;
allow etsd fingerprintd:binder { call transfer };
allow etsd untrusted_app:binder {call transfer};
allow etsd platform_app:binder { call transfer };

allow etsd esfp0_device:chr_file rw_file_perms;
allow etsd sysfs:file rw_file_perms;
allow etsd storage_file:dir create_dir_perms;
allow etsd storage_file:lnk_file create_file_perms;
allow etsd mnt_user_file:dir create_dir_perms;
allow etsd mnt_user_file:lnk_file create_file_perms;

allow etsd self:capability { dac_override dac_read_search };
allow etsd fuse:dir create_dir_perms;
allow etsd fuse:file create_file_perms;