# Fingerprint device
allow fingerprintd esfp0_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd storage_file:dir create_dir_perms;
allow fingerprintd storage_file:lnk_file create_file_perms;
allow fingerprintd mnt_user_file:dir create_dir_perms;
allow fingerprintd mnt_user_file:lnk_file create_file_perms;

allow fingerprintd self:capability { dac_override dac_read_search };
allow fingerprintd fuse:dir create_dir_perms;
allow fingerprintd fuse:file create_file_perms;

#ET320 etsd
allow fingerprintd etsd:binder { call transfer };