# camera
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver mtk_smi_device:chr_file r_file_perms;
allow mediaserver proc:file { read ioctl open };
allow mediaserver devmap_device:chr_file r_file_perms;
allow mediaserver devmap_device:chr_file { ioctl };

# video codec
allow mediaserver Vcodec_device:chr_file rw_file_perms;
allow mediaserver sysfs_devinfo:file { open read write };