# Date : 2015/12/9
# Operation : Migration
# Purpose : Added by xiehaifei for Fingerprint ET320 esfp0 Demo APK
allow untrusted_app esfp0_device:chr_file rw_file_perms;
#allow untrusted_app esfp0_device:chr_file {getattr open read write ioctl};
allow untrusted_app etsd_service:service_manager find;
allow untrusted_app etsd:binder {call transfer};
