on boot
# Performance Profiles


# Power save
on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "858000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "858000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "858000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "858000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"


# Balanced (normal, default as stock)
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1248000"   
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "221000"  
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"
    
# High performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1248000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "494000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "494000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "494000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "494000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"

# Bias power save
on property:sys.perf.profile=3
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1027000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1027000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1027000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1027000"   
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "221000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "221000"  
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"

