on early-init
    # Turn off backlight on blank
    write /sys/class/leds/lcd-backlight/trigger "backlight"

on post-fs-data
    # GPS
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status

    # media - memory bandwidth
    chmod 0664 /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario
    chown system media /sys/bus/platform/drivers/mem_bw_ctrl/concurrency_scenario

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb

    # clear the sim switch flag
    setprop persist.radio.simswitch ""

on boot
    # Enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    # Tune I/O
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128
