# MTK project .rc configure

import init.mt6735.usb.rc
import init.mt6735.power.rc

on init
    mkdir /oem 0550 root root
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    #jijin.wang create mountpoint for persist partition
    mkdir /persist 0771 system system

on post-fs-data
    chown system system /persist
    chmod 0771 /persist

    mkdir /data/nfc 0770 nfc nfc
    chown nfc nfc /data/nfc
    chmod 0770 /data/nfc
	
    # jijin.wang restorecon /persist to set SEPolicy label.
    restorecon /persist
    # lenovo sw zhangpei5 20170223 save log in /persist/simlock
    mkdir /persist/simlock 0775 system mot_tcmd
    chown radio mot_tcmd /persist/simlock
    chmod 0775 /persist/simlock

    #restore necessary files into data partition
    mkdir /data/thh 0770 root root
    mkdir /data/thh/tee_00 0770 root root
    copy /cache/thh/tee_00/thh_mt6737_motoe4plus.certs /data/thh/tee_00/thh_mt6737_motoe4plus.certs
    copy /cache/thh/tee_00/thh_mt6737_motoe4plus.cfg /data/thh/tee_00/thh_mt6737_motoe4plus.cfg
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    copy /cache/local/tmp/thh_mt6737_motoe4plus.cfg /data/local/tmp/thh_mt6737_motoe4plus.cfg


#add by yangchao
    chmod 0664 /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/flashlight/brightness
    chmod 0664 /sys/class/leds/sub_flashlight/brightness
    chown system system /sys/class/leds/sub_flashlight/brightness
#add end

#add by yangchao 
    #chmod 0664 /sys/class/leds/lcd-backlight/brightness
    #chown system system /sys/class/leds/lcd-backlight/brightness
#add end

#add by yangchao 
    chmod 0664 /sys/bus/platform/drivers/cap_touch/reg
    chown system system /sys/bus/platform/drivers/cap_touch/reg
#add end

#add by tanhua1
    chown system system /sys/class/graphics/fb0/cabc_mode
    chown system system /sys/class/graphics/fb0/hbm
#add end

#add by yangchao for TPrawdata start
    chmod 0664 proc/android_touch/register
    chown system system /proc/android_touch/register 
    chmod 0664 /proc/android_touch/self_test
    chown system system /proc/android_touch/self_test 
    chmod 0664 /proc/android_touch/diag
    chown system system /proc/android_touch/diag 
    chmod 0664 /proc/android_touch/reset
    chown system system /proc/android_touch/reset
#add by yangchao for TPrawdata end

#add by gouxinyue for TPrawdata start
    chmod 0666 proc/hotknot
    chown system system /proc/hotknot
#add by gouxinyue for TPrawdata end

#add by gouxinyue for TPrawdata start
    chmod 0666 proc/ftxxxx-debug
    chown system system /proc/ftxxxx-debug
#add by gouxinyue for TPrawdata end

#add by yangchao,for add nxp nfc,start
    chmod 0666 /dev/pn547
    chown system system /dev/pn547
#add by yangchao,for add nxp nfc,end

#yangchao for sku,start
    chmod 0664 /sys/devices/simcheck/sku_check
    chown system system /sys/devices/simcheck/sku_check
#yangchao for sku,end

#add by yangchao for fpcid start
    chmod 0664 /proc/fpc
    chown system system /proc/fpc
#add by yangchao for fpcid start

#add by zhuhailin for vibrator limit
    chmod 0664 /sys/module/vibrator_drv/parameters/lct_vibr_factory_flag
	chown system system /sys/module/vibrator_drv/parameters/lct_vibr_factory_flag

#add by yangchao for simcard
    chmod 0664 /sys/devices/simcheck/sim_check
    chmod system system /sys/devices/simcheck/sim_check
#add by yangchao for simcard

    chmod 0664 /proc/mtk_battery_cmd/current_cmd
    chmod system system /proc/mtk_battery_cmd/current_cmd

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF
   
    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

   
    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF
    
	chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

#Define device for ATCID
    chmod 660 /dev/ttyGS0 
    chown system /dev/ttyGS0 
    chmod 660 /dev/ttyGS1 
    chown system /dev/ttyGS1
   
										 
    chmod 0666 /dev/exm0

#Lct add by zl for navi
	chmod 0660 /sys/devices/platform/egis_input/navigation_event
	chown system system /sys/devices/platform/egis_input/navigation_event
	chmod 0660 /sys/devices/platform/egis_input/navigation_enable
	chown system system /sys/devices/platform/egis_input/navigation_enable

    #sensors:
    chmod 0664 /sys/bus/platform/drivers/gsensor/cali
    chmod 0664 /sys/bus/platform/drivers/gsensor/flat_threshold
    chmod 0664 /sys/bus/platform/drivers/gsensor/flatdown
    chmod 0664 /sys/bus/platform/drivers/gsensor/int_mode
    chmod 0664 /sys/bus/platform/drivers/gsensor/softreset
    chmod 0664 /sys/bus/i2c/drivers/ltr778/als
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alslv
    chmod 0664 /sys/bus/i2c/drivers/ltr778/alsval
    chmod 0664 /sys/bus/i2c/drivers/ltr778/reg
    chmod 0664 /sys/bus/i2c/drivers/ltr778/ps
    chmod 0664 /sys/bus/i2c/drivers/ltr778/status
    chmod 0664 /sys/bus/i2c/drivers/ltr778/stowed

    chown system system /sys/bus/platform/drivers/gsensor/cali
    chown system system /sys/bus/platform/drivers/gsensor/flat_threshold
    chown system system /sys/bus/platform/drivers/gsensor/flatdown
    chown system system /sys/bus/platform/drivers/gsensor/int_mode
    chown system system /sys/bus/platform/drivers/gsensor/softreset
    chown system system /sys/bus/i2c/drivers/ltr778/als
    chown system system /sys/bus/i2c/drivers/ltr778/alslv
    chown system system /sys/bus/i2c/drivers/ltr778/alsval
    chown system system /sys/bus/i2c/drivers/ltr778/reg
    chown system system /sys/bus/i2c/drivers/ltr778/ps
    chown system system /sys/bus/i2c/drivers/ltr778/status
    chown system system /sys/bus/i2c/drivers/ltr778/stowed

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled


service atci_service /vendor/bin/atci_service
	socket atci-service stream 660 radio system 
	socket atci-serv-fw stream 660 radio system 
	user root 
        disabled
	group radio system  
	
service atcid-daemon-u /vendor/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /vendor/bin/atcid
	user root
	group radio system
	disabled
	oneshot

# Lct add by zl for fpc
service etsd /system/bin/etsd
	user system
	group system
	class late_start

service fingerprintd /system/bin/fingerprintd
	class late_start
	user system
# Lct add end

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e

service audio-daemon /vendor/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot
    
#add for runin
on property:persist.sys.runin=enable
    write /sys/class/power_supply/battery/device/BatteryTestStatus 1

on property:persist.sys.runin=disable
    write /sys/class/power_supply/battery/device/BatteryTestStatus 0
