# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    write /sys/class/net/ccmni0/queues/rx-0/rps_cpus "ff"
    write /sys/class/net/ccmni1/queues/rx-0/rps_cpus "ff"
    write /sys/class/net/ccmni2/queues/rx-0/rps_cpus "ff"
    write /sys/class/net/ccmni0/queues/rx-0/rps_flow_cnt "1000"
    write /sys/class/net/ccmni1/queues/rx-0/rps_flow_cnt "1000"
    write /sys/class/net/ccmni2/queues/rx-0/rps_flow_cnt "1000"
    setprop net.perf.tether.rps 0f
    setprop net.perf.rps.default ff
    setprop net.perf.tether.cpu.core 4,4,0,0
    setprop net.perf.tether.cpu.freq 1248000,1248000,0,0
    setprop net.perf.internal.cpu.core 2,2,0,0
    setprop net.perf.internal.cpu.freq 858000,858000,0,0

on post-fs-data

    write /proc/bootprof "post-fs-data: on modem start"

    # Modem related device nodes
    mkdir /data/nvram/md  0770 root system

    chown radio radio /sys/kernel/ccci/boot
    chown radio radio /dev/ccci_fs
    chown radio radio /dev/ccci_ioctl0
    chown radio radio /dev/ccci_ioctl1
    chown radio radio /dev/ccci_ipc_1220_0
    chown radio radio /dev/ccci_monitor
    chown media audio /dev/ccci_aud
    chmod 660 /dev/ccci_aud

    # SELinux
    mkdir /data/ccci_cfg 0770 system radio
    mkdir /data/mdlog 0775 shell system

    restorecon /data/ccci_cfg
    restorecon_recursive /protect_f
    restorecon_recursive /protect_s
    
    # ignore permission check
    write /data/ccci_cfg/md_new_ver.1 "flag"
    chmod 0660 /data/ccci_cfg/md_new_ver.1
    setprop vold.post_fs_data_done 1

    # Clear the sim switch flag
    setprop persist.radio.simswitch ""

service gsm0710muxd /system/bin/gsm0710muxd -s /dev/ttyC0 -f 512 -n 8 -m basic
    class core
    user root
    group radio cache inet misc
    disabled
    oneshot

service gsm0710muxdmd2 /system/bin/gsm0710muxdmd2 -s /dev/ccci2_tty0 -f 512 -n 8 -m basic
    class core
    user root
    group radio cache inet misc
    disabled
    oneshot
 
service muxreport-daemon /system/bin/muxreport
    class core
    user radio
    group radio cache inet misc
    disabled
    oneshot

service ril-daemon-mtk /system/bin/mtkrild
    class core
    socket rild stream 660 root radio
    socket rild2 stream 660 root radio
    socket rild3 stream 660 root radio
    socket rild4 stream 660 root radio
    socket rild-ims stream 660 root radio
    socket rild-debug stream 660 radio system
    socket rild-oem stream 660 radio system
    socket rild-mtk-ut stream 660 radio net_bt
    socket rild-mtk-ut-2 stream 660 radio net_bt
    socket rild-mtk-modem stream 660 radio system
    socket rild-atci stream 660 root radio
#    socket rild-mal stream 660 radio system
#    socket rild-mal-at stream 660 radio system
#    socket rild-vsim stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket sap_uim_socket3 stream 660 bluetooth bluetooth
    socket sap_uim_socket4 stream 660 bluetooth bluetooth
    user root
    group radio cache inet misc audio sdcard_r sdcard_rw log system
    disabled
    oneshot

service ccci_fsd /system/bin/ccci_fsd 0
    user radio
    group radio system
    class core
    oneshot


service ccci_mdinit /system/bin/ccci_mdinit 0
    user system
    group radio system
    class core
    oneshot

service ccci_rpcd /system/bin/ccci_rpcd 0
    user radio
    group radio system
    class core
    oneshot
    disable

service pppd_gprs /system/bin/pppd_dt /dev/ttyACM0 debug noauth refuse-eap usepeerdns nodetach
    user root
    group radio cache inet misc
    disabled
    oneshot

#Add by T.Zh for ppp daemon
service pppd /system/bin/pppd file /data/misc/ppp/ppp_options
    user root
    disabled 
    oneshot

#
#
#  Modem related services (End)
#
#Add by hp.chen for
#
#   Telephony Early Read service
#
service terservice /system/bin/terservice
    class core
    user radio
    group radio cache inet misc
    oneshot

on property:ril.muxreport=1
    start muxreport-daemon

