# device specific syscalls
# extension of services/mediacodec/minijail/seccomp_policy/mediacodec-seccomp-arm.policy
sched_getscheduler: 1
sched_setaffinity: 1
sched_getparam: 1
_llseek: 1
fsync: 1
mlock: 1
munlock: 1
setsockopt: 1
setrlimit: 1
